.achievement-badge {
  height: 74px;
  display: flex;
  gap: 0.5rem;
}

.achievement-badge img{
  width: 74px;
  height: 74px;
}

.achievement-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.achievement-info {
  display: flex;
  flex-direction: column;
}

.achievement-title {
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--yellow70);
}

.achievement-points, .achievement-description {
  font-size: 0.7rem;
}

.achievement-points .true-ratio {
  color: var(--white);
}