:root {
  --blue50: #2c97fa;
  --yellow70: #ba8c02;
  --black70: #2a2a2a;   /* borders */
  --black80: #1d1d1d; /* around background */
  --black90:#161616; /* inside background */
 
  --white: #FFFFFF;

  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

* {
  margin: 0;
  padding: 0;
 }

body {

  color: var(--blue50);
  background-color: var(--black80);
  /* border: 1px dashed var(--black70);
  border-radius: 15px; */
}
